body {
	font-family: 'Montserrat', sans-serif;
}
	

p {
	font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	
}
a{
	color: inherit;
	text-decoration: none;
	&:hover{
		transition: all 0.3s ease-in-out;
		text-decoration: none;
		color: $orange;
	}
}