$greenLight: #92bf2a;
$greenDark:#608019;
$orange:#ff6b00;


$grayLight:#f7f5f5;
$gray:#b7bbb0;
$grayDark:#555;
$white:#fff;
$black:#111;

$alert :#f82329;
$warning :#f5c640;
$info :#3eaca9;
$danger:#d73d31;
$success :#28B959;


// Background
.bg-greenLight{
		background-color:$greenLight;
}
.bg-orange{
		background-color:$orange;
}

.bg-white{
		background-color:$white;
}
.bg-grayLight{
		background-color:$grayLight;
}
.bg-gray{
		background-color:$gray;
}
.bg-warning{
		background-color:$warning;
}
.bg-danger{
		background-color:$danger;
}

.bg-greenLight-opaque{
		background-color:rgba($greenLight, 0.25);
}
.bg-orange-opaque{
		background-color:rgba($orange, 0.25);
}
.bg-success-opaque{
		background-color:rgba($success, 0.25);
}
.bg-danger-opaque{
		background-color:rgba($danger, 0.25);
}
.bg-empty{
		background-color:transparent;
}

// Border
.border-greenLight{
	border:2px solid $greenLight;
}
.border-greenDark{
	border:2px solid $greenDark;
}
.border-orange{
	border:2px solid $orange;
}
.border-grayLight{
	border:2px solid $grayLight;
}
.border-gray{
	border:2px solid $gray;
}

.border-white{
	border:2px solid $white;
}
.border-success{
	border:2px solid $success;
}
.border-danger{
	border:2px solid $danger;
}


// Color
.c-white{
	color:$white;
}
.c-greenLight{
	color:$greenLight;
}
.c-greenDark{
	color:$greenDark;
}
.c-orange{
	color:$orange;
}
.c-success{
	color:$success;
}
.c-alert{
	color:$alert;
}
.c-warning{
	color:$warning;
}
.c-danger{
	color:$danger;
}
.c-info{
	color:$info;
}
.c-grayLight{
	color:$grayLight;
}
.c-gray{
	color:$gray;
}

// Opacity
.opacity-25 {
	opacity: 0.25;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-75 {
	opacity: 0.75;
}

$breakpoints: (
  phonePortrait: 0px,
  phoneLandscape: 480px,
  tabletPortrait: 768px,
  tabletLandscape: 1024px,
  desktop: 1366px,
  bigscreen: 1920px,
 );
// @include media(phonePortrait) {};
// @include media(phoneLandscape) {};
// @include media(tabletPortrait) {};
// @include media(tabletLandscape) {};
// @include media(desktop) {};
// @include media(bigscreen) {};