$greenLight: #92bf2a;
$greenDark:#608019;
$orange:#ea6837;


$grayLight:#f7f5f5;
// $gray:#272b20;
$grayDark:#555;
$white:#fff;
$black:#111;

$alert :#f82329;
$warning :#f5c640;
$info :#3eaca9;
$danger:#d73d31;
$success :#28B959;


// Background
.bg-greenLight{
		background-color:$greenLight;
}
.bg-orange{
		background-color:$orange;
}
.bg-white{
		background-color:$white;
}
.bg-grayLight{
		background-color:$grayLight;
}
.bg-warning{
		background-color:$warning;
}
.bg-danger{
		background-color:$danger;
}
.bg-empty{
		background-color:transparent;
}

// Border
.border-greenLight{
	border:2px solid $greenLight;
}
.border-danger{
	border:2px solid $danger;
}


// Color
.c-white{
	color:$white;
}
.c-greenLight{
	color:$greenLight;
}
.c-greenDark{
	color:$greenDark;
}
.c-orange{
	color:$orange;
}
.c-alert{
	color:$alert;
}
.c-warning{
	color:$warning;
}
.c-danger{
	color:$danger;
}
.c-info{
	color:$info;
}
.c-grayLight{
	color:$grayLight;
}
