.button {
	padding: 0.5rem 3rem;
	margin: 0 0.5rem;
	border:2px solid $greenLight;	
	
	@include borderRadius(30px)
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	font-weight: bold;
	&.bg-orange{
		background: $orange;
		color:$white;
		&:hover{
			background: $white;
			color:$orange;
		}			
	}
}