.loginForm{
	.card{
		@include borderRadius(30px);
		color:$greenLight;
		.card-header{
			background-color: $greenLight;
			color:$white;
		}	
	}

	button[type=submit]{ 
	    border:2px solid $greenLight;
	    &:hover{
	      	background: $white;
	      	color:$greenLight;
		}          
	}
}