.quiz {
	padding: 3rem 0;
	h1 {
		font-size: 5rem;
	}
	h4 {
		font-size: 1.3rem;	
	}
	h5 {
		font-size: 1rem;	
	}
	&-exit {

	}
}
.answer-outcome {
	&-top{
		& h3 {
			margin-bottom:0 !important;
		}
	}
	&-bottom{
		&-icon{
			margin-top: -1rem;
		}
		&-info{
			height: 72px;
			&-report{
				
			}
		}

		b {
			display: block;
		}
		

	}
}

