.quiz {
	@include media(phonePortrait) {
		padding:1rem;
		h1 {
			font-size: 3rem;
		}
		h4 {
			font-size: 1.3rem;	
		}
		h5 {
			font-size: 1rem;	
		}
		.verb-eng{

		}
	}

	@include media(tabletPortrait) {
		padding: 3rem 0;
		h1 {
			font-size: 5rem;
		}
		h4 {
			font-size: 1.3rem;	
		}
		h5 {
			font-size: 1rem;	
		}
		.verb-eng{
			padding-top: 3rem;	
		}
	}
}

.answer-outcome {
	&-top{
		& h3 {
			margin-bottom:0 !important;
		}
	}
	&-bottom{
		&-icon {
			@include media(phonePortrait) {
				text-align: right;
				margin-top: -3rem;
				
			}
		  	@include media(tabletLandscape) {
		  		text-align: center;
		  		margin-top: -0.5rem;
			}
		}
		&-info{
			@include media(phonePortrait) {height: 95px;};
		  	@include media(tabletLandscape) {height: 72px;};
		}
		&-continue{
			.button {
			  	@include media(tabletLandscape) {
			  		padding: 0.5rem 2rem;
			  	};		
			}
		}
		b {
			display: block;
		}
		

	}
}

.quiz-ad {
	margin:0 auto;
	text-align:center;
	background-image: linear-gradient($orange,$greenLight);
	width: 80%; 
	height: 250px;
	h3{
		padding: 3rem 0;
	}
}