.quiz {
	padding: 3rem 0;
	h1 {
		font-size: 5rem;
	}
	h4 {
		font-size: 1.3rem;	
	}
	h5 {
		font-size: 1rem;	
	}
	&-exit {

	}
}
.answer-outcome {
	&-top{
		// height: 120px;	
	}
	&-bottom{
		// p{

		// }
		// height: 100px;	
	}
}

