.navbar-nav {
	.nav-item{
		.nav-link {
			border:2px solid $greenLight;	
			padding: 0.2rem 3rem;
			margin: 0 0.5rem;
			font-size: 0.9rem;
			color: $greenLight;
			@include borderRadius(30px)
			transition: all 0.3s ease-in-out;
			font-weight: bold;
			&:hover{
				background: $greenLight;
				color:$white;
			}			
			&.filled{
				background: $greenLight;
				color: $white;
				&:hover{
					background: $white;
					color:$greenLight;
				}			
			}
		}
	}	
}
.form-control{
	height: 20px;
	@include borderRadius(0)
 	background: rgba(0, 0, 0, 0);
	color:$greenLight;
	border:0;
	border-bottom:1px solid $greenLight;
	&::placeholder{
		color:$greenLight;
	}
	&:focus{
		background: rgba(0, 0, 0, 0) !important;
		border:0;
		border-bottom:1px solid $greenLight;
		outline: none;
		box-shadow:none;
	}
}

.hero, .description, .section-cta {
	font-size: 2.1rem;
	.button{
		font-size: 1.2rem;	
	}
}
.hero {
	background:$greenLight;
}

footer{
	background:$gray;
	p{
		font-size: 0.8rem;		
	}
	.slogan {
		p{
			font-size: 1.2rem;			
			
		}
	}
	.button {
		font-size: 0.8rem;			
		&:hover{
			background: $greenLight;
			color:$black;
		}			
	}

}

.copyright{
	border-top:1px solid $greenLight;
}
