.form-control{
	height: 20px;
	@include borderRadius(0);
 	background: rgba(0, 0, 0, 0);
	color:$greenLight;
	border:0;
	border-bottom:1px solid $greenLight;
	&::placeholder{
		color:$greenLight;
	}
	&:focus{
		background: rgba(0, 0, 0, 0) !important;
		border:0;
		border-bottom:1px solid $greenLight;
		outline: none;
		box-shadow:none;
	}
	&.disabled{
		&::placeholder{
			color:$gray;
		}	
	}
}

.hero, .description, .section-cta {
	font-size: 1.9rem;
	.button{
		font-size: 1.2rem;	
	}
}
.hero {
	background-size:100% 100%;
	@include media(phonePortrait){
		height: 500px;
	}
	@include media(phoneLandscape){
		// height: 155vh;
	}
	@include media(tabletPortrait){
		// height: 115vh;
	}
	@include media(tabletLandscape){
		// height: 80vh;
	}
	@include media(desktop){
		// height: 85vh;
	}
	@include media(bigscreen){
		// height: 85vh;
	}


	p{
		font-size: 2.1rem;	
	}
	&-sub {
		background:$greenLight;
		p{
			font-size: 2.1rem;	
		}
		
	}
}

.copyright{
	border-top:1px solid $greenLight;
}

.tenses {
	.disabled {
		color: $grayDark;
	}
}