.form-control{
	@include borderRadius(0);
 	background: rgba(0, 0, 0, 0);
	color:$greenLight;
	border:0;
	border-bottom:1px solid $greenLight;
	&::placeholder{
		color:$greenLight;
	}
	&:focus{
		background: rgba(0, 0, 0, 0) !important;
		border:0;
		border-bottom:1px solid $greenLight;
		outline: none;
		box-shadow:none;
		color:$greenLight;
	}
	&.disabled{
		&::placeholder{
			color:$gray;
		}	
	}
}

.hero,  {
	font-size: 1.9rem;
	.button{
		font-size: 1.2rem;	
	}
}
.hero {
	background-size:100% 100%;
	@include media(phonePortrait){
		height: 300px;
		.speechBobble{
			padding-top: 1rem;
			font-size: 2em;
			.speechText{
				font-family:'Montserrat', sans-serif;
				font-size: 21px; 
				top: 35px; 
				left: -19px;
			}
		}
		p{
			font-size:1.3rem;
		}
	}
	@include media(phoneLandscape){
		height: 250px;
	}
	@include media(tabletPortrait){
		height: 400px;
		.speechBobble{
			padding-top: 1rem;
			font-size: 3em;
			.speechText{
				font-family:'Montserrat', sans-serif;
				font-size: 32px; 
				top: 52px; 
				left: -27px;
			}
		}
		p{
			font-size:2rem;
		}
	}
	@include media(tabletLandscape){
		height: 500px;
		.speechBobble{
			padding-top: 4rem;
			font-size: 4em;
			.speechText{
				font-family:'Montserrat', sans-serif;
				font-size: 45px; 
				top: 67px; 
				left: -37px;
			}
		}
		p{
			font-size:2rem;
		}
	}
	@include media(desktop){
		// height: 85vh;
	}
	@include media(bigscreen){
		height: 700px;
		.speechBobble{
			padding-top: 4rem;
			font-size: 6em;
			.speechText{
				font-family:'Montserrat', sans-serif;
				font-size: 63px; 
				top: 99px; 
				left: -55px;
			}
		}
		p{
			font-size:2rem;
		}
	}


	// p{
	// 	font-size: 2.1rem;	
	// }
	// &-sub {
	// 	background:$greenLight;
	// 	p{
	// 		font-size: 2.1rem;	
	// 	}
		
	// }
}

.copyright{
	border-top:1px solid $greenLight;
}

.tenses {
	.disabled {
		color: $grayDark;
	}
}

.description{
	@include media(phonePortrait) {
		padding:1rem;
		text-align: left;
		font-size: 1rem;
		.button{
			margin-top: 1rem;
			font-size: 1rem;	
		}		
	}

	@include media(tabletPortrait) {
		padding:5rem;
		text-align: center;
		font-size: 1.9rem;
		.button{
			font-size: 1.2rem;	
		}		
	}
}

.usp {
	@include media(phonePortrait) {
		padding:1rem;
		p {
			font-size: 1rem;
		}
		img, h2{
			padding:1rem 0; 
		}
	}

	@include media(tabletPortrait) {
		padding:5rem;
		p{
			font-size: 1rem;
		}
		img, h2{
			padding:0; 
		}
	}
}