h1{
	font-size: 1.7rem;
}
h2{
	font-size: 1.6rem;
}
h2{
	font-size: 1.5rem;
}
h2{
	font-size: 1.4rem;
}
h2{
	font-size: 1.3rem;
}
h2{
	font-size: 1.2rem;
}
p{
	font-size: 100%;
}

ul{
	padding-left:1rem; 
}